body {
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

button {
  background-color: #3882F6;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  width: 15%;
  height: 50%;
}

.header {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header-menu {
  display: flex;
  gap: 16px;
}

.main-content {

}

.init-info {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.largest-title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.subtext {
  color: #E5E7EB;
  font-size: 18px;
  width: 400px;
}

.image {
  background-color: #E5E7EB;
  width: 500px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  opacity: 0.5;
}

.more-details {
  margin: 25px;
  padding: 16px;
}

.title {
  font-weight: bolder;
  font-size: 36px;
  color: #1F2937;
  text-align: center;
}

.cards {
  margin: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card_and_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card {
  border: 4px solid #3882F6;
  border-radius: 12px;
  width: 200px;
  height: 200px;
}

.caption {
  font-size: 18px;
  color: #1F2937;
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quote-content {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
}

.quoted-person {
  font-weight: bold;
  font-size: 18px;
  align-self: flex-end;
}

.cta {
}

.inner-cta {
  background-color: #3882F6;
  color: #F9FAF8;
  margin: 20px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #1F2937;
  text-align: center;
  font-size: 18px;
  color: #E5E7EB;
  padding: 10px;
}
