body {
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #1F2937;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.header-menu {
  display: flex;
  gap: 16px;
}

.main-content {


}

.footer {
  width: 100vw;

}
